.wrapper {
  width: 400px;
  background-position: top right;
}
.box {
  padding: 1em;
  border-radius:7em;
  border: 5px solid rebeccapurple;
  background-color: lightblue;
  width: calc(20% + 100px);
  height: 50px;
  
    }

    